Repository googleapis/python-videointelligence, pull requests merged in 2020-12, with the labels that each got.

#84 chore: added retry for flaky test
  samples/analyze/beta_snippets_test.py
Labels: api: videointelligence, cla: yes

#86 feat: updates person detection samples for GA
  samples/analyze/video_detect_person.py
  samples/analyze/video_detect_person_gcs.py
  samples/analyze/video_detect_person_gcs_test.py
  samples/analyze/video_detect_person_test.py
Labels: api: videointelligence, cla: yes, samples

#91 chore: another flaky test for video beta samples
  samples/analyze/beta_snippets.py
  samples/analyze/beta_snippets_test.py
Labels: api: videointelligence, cla: yes, samples

#90 feat: Introduce tracks and thumbnails fields for FaceDetectionAnnotations
  google/cloud/videointelligence_v1/proto/video_intelligence.proto
  google/cloud/videointelligence_v1/types/video_intelligence.py
  google/cloud/videointelligence_v1beta2/proto/video_intelligence.proto
  google/cloud/videointelligence_v1p1beta1/proto/video_intelligence.proto
  google/cloud/videointelligence_v1p2beta1/proto/video_intelligence.proto
  google/cloud/videointelligence_v1p3beta1/proto/video_intelligence.proto
  noxfile.py
  samples/analyze/README.rst
  samples/analyze/noxfile.py
  samples/labels/README.rst
  samples/labels/noxfile.py
  samples/quickstart/noxfile.py
  samples/shotchange/noxfile.py
  scripts/fixup_videointelligence_v1_keywords.py
  scripts/fixup_videointelligence_v1beta2_keywords.py
  scripts/fixup_videointelligence_v1p1beta1_keywords.py
  scripts/fixup_videointelligence_v1p2beta1_keywords.py
  scripts/fixup_videointelligence_v1p3beta1_keywords.py
  synth.metadata
Labels: api: videointelligence, automerge, cla: yes, context: partial

#94 fix: remove gRPC send/recv limits; add enums to `__init__.py`
  google/cloud/videointelligence_v1/services/video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1/services/video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1/services/video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1/types/__init__.py
  google/cloud/videointelligence_v1beta2/services/video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1beta2/services/video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1beta2/services/video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1beta2/types/__init__.py
  google/cloud/videointelligence_v1p1beta1/services/video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1p1beta1/services/video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1p1beta1/services/video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1p1beta1/types/__init__.py
  google/cloud/videointelligence_v1p2beta1/services/video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1p2beta1/services/video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1p2beta1/services/video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1p2beta1/types/__init__.py
  google/cloud/videointelligence_v1p3beta1/services/streaming_video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1p3beta1/services/streaming_video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1p3beta1/services/streaming_video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1p3beta1/services/video_intelligence_service/transports/__init__.py
  google/cloud/videointelligence_v1p3beta1/services/video_intelligence_service/transports/grpc.py
  google/cloud/videointelligence_v1p3beta1/services/video_intelligence_service/transports/grpc_asyncio.py
  google/cloud/videointelligence_v1p3beta1/types/__init__.py
  synth.metadata
  tests/unit/gapic/videointelligence_v1/test_video_intelligence_service.py
  tests/unit/gapic/videointelligence_v1beta2/test_video_intelligence_service.py
  tests/unit/gapic/videointelligence_v1p1beta1/test_video_intelligence_service.py
  tests/unit/gapic/videointelligence_v1p2beta1/test_video_intelligence_service.py
  tests/unit/gapic/videointelligence_v1p3beta1/test_streaming_video_intelligence_service.py
  tests/unit/gapic/videointelligence_v1p3beta1/test_video_intelligence_service.py
Labels: api: videointelligence, cla: yes, context: partial

#95 chore: update templates
  .flake8
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  docs/conf.py
  noxfile.py
  samples/analyze/noxfile.py
  samples/labels/noxfile.py
  samples/quickstart/noxfile.py
  samples/shotchange/noxfile.py
  synth.metadata
Labels: api: videointelligence, cla: yes, context: partial

#93 chore: re-order classes
  google/cloud/videointelligence_v1p3beta1/__init__.py
Labels: api: videointelligence, automerge, cla: yes, context: none, kokoro:force-run

#96 chore: reorder classes
  google/cloud/videointelligence_v1p3beta1/__init__.py
  synth.metadata
Labels: api: videointelligence, cla: yes, context: none
